

{% extends 'arquivos_html/base.html' %}

{% load crispy_forms_tags %}
{% block conteudo %}
<h1>Template do change_password</h1>    

    <form method="POST" class="post-form"> {% csrf_token %}
        {{form|crispy}}
        
        <button type="submit">Enviar</button>
    </form>

    <!--<form method="POST" class="post-form">{% csrf_token %}
        {{form|crispy}}   .as_p é padrão para mostrar em parágrafos
        <button type="submit" class="btn-default">Salvar</button>
    </form>-->

{% endblock%}
