{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste_delete</title>
</head>
<body>
     <script>
        
        if (confirm("Deseja apagar ?")) {
            alert('Deletado com sucesso !')
            window.location = "{% url 'postMateriaDelete' pk=pk %}";
        } else {
            alert('Cancelado com sucesso !')
            window.location = "{% url 'lista_post' %}"
        }
    </script>
</body>
</html>