{% extends 'arquivos_html/base.html' %}
{% load static %}

{% block conteudo %}

{% if request.user.is_authenticated %} <!--Verifica se o user está autenticado  | request.user.is_anonymous => verifica se o usuário não está logado. -->
    <a href="{% url 'logout_sistema' %}">Logout</a>
    <a href="{% url 'post_new' %}" class="btn-floating btn-large waves-effect waves-light blue mt-2 ml-2 "><i class="material-icons">backup</i></a>
    
    {% endif %}
          
    <table class="centered striped">
        <thead>
          <tr>
              <th>ID</th>
              <th>Autor</th>
              <th>Data de Criação</th>
              <th>Título</th>
              <th>Opções</th>
          </tr>
        </thead>

        <tbody>
        {% for post in posts %}
          <tr>
            <td>{{post.pk}}</td>
            <td>{{post.author}}</td>
            <td>{{post.created_date}}</td>
            <td> <a href="{% url 'detalhe_post' post.pk %}">{{post.title}}</a></td>
            <td>
                <a href="{% url 'post_edit' post.pk %}" class="waves-effect waves-light btn-small" title=Editar> <i class="material-icons">edit</i> Editar</a> <!--Para fazer qualquer modificação no bamco tem que passar o id-->
                <a href="{% url 'post_delete_confirm' post.pk %}" class="btn-floating btn-small waves-effect waves-light red mt-1 "title= Excluir><i class="material-icons">delete</i></a>
            <!--href="{% url 'post_delete' post.pk %}"-->

            </td>
          </tr>
        {% endfor %}
        
        </tbody>
        
      </table>
            

{% endblock %}