
<!-- {% extends 'arquivos_html/base.html' %}

{% block menu %} -->

{% for object in object_list %}
    <div class="post">
        <div class="date">
            <h2 id="autor"> Autor: {{object.materia}} </h2>
                <h4>Publicado em : {{post.created_date}}</h4>
                    </div>
                    <h4><a href="{% url 'detalhe_post' pk=post.pk %}">{{ post.title }}</a></h4> <!--url detail cria uma url automaticamente, o pk é relacionado a chave primaria -->
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

 {% endblock %}


 
