
{% extends 'arquivos_html/base.html' %}

{% load crispy_forms_tags %}

    
{% block conteudo %}

{% if request.user.is_authenticated %}
    return render('lista_post')
{% endif %}

    <form method="POST" class="post-form"> {% csrf_token %}
        {{form|crispy}}
        <input type="text" name="username" id="">
        <input type="password" name="password" id="">
        
        <button type="submit">Enviar</button>
    </form>

    <!--<form method="POST" class="post-form">{% csrf_token %}
        {{form|crispy}}   .as_p é padrão para mostrar em parágrafos
        <button type="submit" class="btn-default">Salvar</button>
    </form>-->

{% endblock conteudo %}
